*.phys
*.check
*.wirelength
*.sif
LICENSE-BENCHMARKS.txt

*.device
*.netlist*

*.dcp
*_load.tcl

workdir/
.gradle/
.local/
.cache/
.wget-hsts
java-classpath.txt

*.log
build/
wirelength_analyzer/test/data/
**/__pycache__/
