[submodule "RapidWright"]
	path = RapidWright
	url = https://github.com/xszang/parallel-routing
	branch = main
[submodule "fpga-interchange-schema"]
	path = fpga-interchange-schema
	url = https://github.com/chipsalliance/fpga-interchange-schema
	branch = main
