[submodule "RapidWright"]
	path = RapidWright
	url = https://github.com/Xilinx/RapidWright
[submodule "fpga-interchange-schema"]
	path = fpga-interchange-schema
	url = https://github.com/chipsalliance/fpga-interchange-schema
	branch = main
[submodule "OpenPARF"]
	path = OpenPARF
	url = https://github.com/PKU-IDEA/OpenPARF
