# Copyright (C) 2023, Advanced Micro Devices, Inc.  All rights reserved.
#
# Author: Eddie Hung, AMD
#
# SPDX-License-Identifier: MIT
#

name: make
on:
  push:
  pull_request:
jobs:
  make:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        router:
          - rwroute
          - nxroute-poc
        lutpinswap:
          - false
          - true
        benchmark:
          - boom_med_pb
          - vtr_mcml
          - rosetta_fd
          - corundum_25g
          - vtr_lu64peeng
          - corescore_500
          - corescore_500_pb
          - mlcad_d181_lefttwo3rds
          - koios_dla_like_large
          - boom_soc
          - ispd16_example2
        exclude:
          # Insufficient memory on GitHub Actions
          - router: rwroute
            benchmark: mlcad_d181_lefttwo3rds
          - router: rwroute
            benchmark: koios_dla_like_large
          - router: rwroute
            benchmark: boom_soc
          - router: rwroute
            benchmark: ispd16_example2
          # NXRoute does not support LUT pin swapping
          - router: nxroute-poc
            lutpinswap: true
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'
      - if: matrix.router == 'nxroute-poc'
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
          cache: 'pip'
      - name: Download xcvu3p.device (nxroute-poc only)
        if: matrix.router == 'nxroute-poc'
        run:
           wget -q  https://github.com/Xilinx/fpga24_routing_contest/releases/latest/download/xcvu3p.device
      - env:
          REPORT_ROUTE_STATUS_URL:      ${{ secrets.REPORT_ROUTE_STATUS_URL }}
          REPORT_ROUTE_STATUS_AUTH:     ${{ secrets.REPORT_ROUTE_STATUS_AUTH }}
          # For certain benchmarks, wirelength_analyzer requires more memory than that available in GitHub Actions
          WIRELENGTH_ANALYZER_MOCK_RESULT: ${{ matrix.benchmark == 'koios_dla_like_large' }}
          RWROUTE_FORCE_LUT_PIN_SWAP:   ${{ matrix.router == 'rwroute' && matrix.lutpinswap }}
        run: |
          make ROUTER="${{ matrix.router }}" BENCHMARKS="${{ matrix.benchmark }}" VERBOSE=1
      - name: Score summary
        run:
          make ROUTER="${{ matrix.router }}" BENCHMARKS="${{ matrix.benchmark }}" VERBOSE=1
      - name: Verify pass (non nxroute-poc)
        if: matrix.router != 'nxroute-poc'
        run: |
          # Allow CheckPhysNetlist to fail if no remote access to Vivado
          grep -H PASS *.check || ${{ secrets.REPORT_ROUTE_STATUS_URL == '' }}
          grep -H -e "# of nets with routing errors[. :]\+0" *.check.log || ${{ secrets.REPORT_ROUTE_STATUS_URL == '' }}
          # Check no multiple sources, no stubs
          ! grep "UserWarning: Found [0-9]\+ sources" *.wirelength
          ! grep "UserWarning: Found [0-9]\+ stubs" *.wirelength
          # Check wirelength was computed
          grep "^Wirelength: [1-9][0-9]*" *.wirelength
      - name: Verify fail (nxroute-poc)
        if: matrix.router == 'nxroute-poc'
        run: |
          grep -H FAIL *.check
          # Allow following grep to fail if no URL
          grep -H -e "# of nets with routing errors[. :]\+[1-9]" -e "# of unrouted nets[. :]\+[1-9]" *.check.log || ${{ secrets.REPORT_ROUTE_STATUS_URL == '' }}
          # Check no multiple sources, but expect stubs
          ! grep "UserWarning: Found [0-9]\+ sources" *.wirelength
          grep "UserWarning: Found [0-9]\+ stubs" *.wirelength || ${{ matrix.benchmark == 'koios_dla_like_large' }}
          # Allow wirelength computation to fail since nxroute may not have routed anything or wirelength_analyzer was not run
          grep "^Wirelength: [1-9][0-9]*" *.wirelength || true
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: Logs
          path: |
           *.log
           *.check
           *.wirelength
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: ${{ matrix.router }}${{ matrix.router == 'rwroute' && matrix.lutpinswap == 'true' && 'lutpinswap' || ''}}-${{ matrix.benchmark }}
          path: |
           *.dcp
           *.phys
           ${{ matrix.benchmark }}.netlist.edn/*
           *_load.tcl
           !*_unrouted.phys
